.debug{
  *{
    border: 1px black dashed;
  }

  header{
    background-color: bisque;
  }
  
  main{
    background-color: rebeccapurple ;
  }
}

header{
  background-image: url(../img/wall.png);
}

h1{
  font-family: "Edu TAS Beginner", cursive;
  font-weight: 600;
  font-size: 60px;
}

main{
  background-image: url(../img/cork.png);
}

.card{
  position: relative;
  font-family: "Edu TAS Beginner", cursive;
}

.card-img-top{
  background-color: brown;
}

.pin{
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%);
}

.date{
  font-family: "Sometype Mono", monospace;
}