.debug{
  *{
    border: 1px black dashed;
  }

  header{
    background-color: bisque;
  }
  
  main{
    background-color: rebeccapurple ;
  }
}

header{
  background-image: url(../img/wall.png);
}

h1{
  font-family: "Edu TAS Beginner", cursive;
  font-weight: 600;
  font-size: 60px;
}

main{
  background-image: url(../img/cork.png);
}

.card{
  position: relative;
  font-family: "Edu TAS Beginner", cursive;
  &:hover{
    transition: 500ms;
    transform: rotate(20deg) scale(1.1);
    box-shadow: 7px 7px 7px #4f4e4e;
    z-index: 1;
    .pin{
      display: none;
    }
  }
}

.card-img-top{
  background-color: brown;
}

.card-title{
  text-transform: uppercase;
  font-weight: 600;
}

.pin{
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%);
}

.date{
  font-family: "Sometype Mono", monospace;
}

.stop-scroll{
  overflow: hidden;
}

#overlay{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.546);
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

#overlay-image{
  height: 500px;
}

